<section>
    <div class="title">
        <h1>Treebo Trend Seaesta</h1>
        <h4>About Treebo Trend Seaesta</h4> <br><br>
        <div class="desc">
            <p>Featuring 3-star accommodation, Treebo Trend Seaesta RK Beach is set in Visakhapatnam, 2.2 km from
                Ramakrishna Beach and 8.1 km from Indira Gandhi Zoological Park. This 3-star hotel offers room service,
                a 24-hour front desk and free WiFi.</p>
        </div>
        <div class="sub">
            <table class="center">
                <tr>
                    <td>
                        <p><b>Location & Nearby Places: </b> <br>
                            Suryabagh (9.0 Km from city center) <br>

                            28-11-7 suryabagh <br><br>

                            <b> Some Nearby Attractions:</b> <br>

                            Bojjannakonda -1.6 km <br>

                            Matsyadarshini Aquarium -2.2 km<br>

                            Ramakrishna Beach -2.6 km<br>

                            Ross Hill Church - 3.2 km<br>

                            Submarine Museum -3.4 km<br>

                            Victory at Sea War Memorial - 3.9 km<br>
                        </p>
                    </td>
                    <td>
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3800.609716916219!2d83.32016877465739!3d17.715887783228382!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a3943cf2ca26be7%3A0x108e684b26bb51a4!2sTreebo%20Trend%20Seaesta%20Rk%20Beach!5e0!3m2!1sen!2sin!4v1687189162880!5m2!1sen!2sin"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>