<section>
    <div class="title">
        <h1>Rushikonda Beach</h1>
        <h4>Rushikonda beach, Visakhapatnam Overview</h4> <br><br>
        <div class="sub">
            <table class="center">
                <tr>
                    <td>
                        <p>Weather : Verify <br>

                            Label : Must Visit <br>

                            Tags : Beach <br>

                            Time Required : 1-2 hrs<br><br></p>
                    </td>
                    <td>
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3799.182642344406!2d83.38098867931059!3d17.78311133978622!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a395afb375cec97%3A0xc0775a251e45f1ed!2sRushikonda%20Beach!5e0!3m2!1sen!2sin!4v1687184606303!5m2!1sen!2sin"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </td>
                </tr>
            </table>
        </div>
    </div>


    <div class="desc">
        <p>

            The Rushikonda Beach is a stunning shore located on the coast of the Bay of Bengal in Vishakhapatnam, in the
            Indian state of Andhra Pradesh. APTDC, which is in charge of this natural beauty, has done a great job in
            the upkeep of the beach and ensured that this natural attraction remains unspoiled. Rushikonda Beach is thus
            rightly named the 'Jewel of the East Coast,' owing to its essential and intact beauty. The serene golden
            sands of the beach are located in the bosom of Rushikonda hill.

        </p>

        <p>Located in the midst of frothy blue sea and emerald greenery, the scenery that this beach boasts of is indeed
            mesmerising and breathtaking. This place is a favourite among water sports lovers because of the range of
            activities that are offered here. If you are in the mood for an adrenaline rush, you can indulge in the
            water sports that are offered here. The Rushikonda Beach is one of the few beaches that offers swimming
            under expert supervision, so do not forget to take a quick dip in the water. However, the beach's natural
            charms are one of the main reasons for its immense popularity among local as well as foreign tourists. The
            Rushikonda Beach is an ideal destination for a peaceful weekend getaway and is located just 8 kilometres
            away from the port of Vishakhapatnam, making the place very accessible.</p>


    </div>
    <img src="../../assets/Imeges/p3.jpeg" alt="">
</section>