section{
    background: url(../../assets/Imeges/back4.jpeg);
    background-position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
}
section .title h1 {
    padding-top: 3%;
    text-align: center;
    color: rgb(4, 30, 53);
    font-weight: 400;
}

section .title h4 {
    text-align: center;
    color: rgb(245, 240, 238);
    font-weight: 400;
}

section .sub p {
    padding-left: 30px;
    color: rgb(144, 52, 24);
    font-weight: 500;
}

section .sub {
    display: flex;
}
section .sub .center{
    margin-left: auto;
    margin-right: auto;
    
}
section .sub table tr td p{
  /* text-align: right;
  font-weight: 600%;
  color: rgb(12, 11, 10);
  padding-bottom: 20%;
  width: 60%;; */
  text-align: justify;
  padding-top:5%;
}
section .sub table tr td iframe{
    padding-left: 10%;
    padding-bottom: 10%;
}
section .desc p{
    padding-left: 10%;
    padding-right: 10%;
    text-align: justify;
    color: rgb(14, 14, 13);
    font-weight: 400;
}

section img{
    padding-top: 3%;
    padding-left: 35%;
    height: 80%;
    width: 70%;
}