<section class="mt-4 mxx-4" >
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col" *ngFor="let img of Images">
            <div class="card shadow-lg" data-aos="zoom-in">
                <img [src]="img.src" [alt]="img.alt" height="350px" >
                <div class="card-title">
                    <h1>{{img.title}}</h1>
                    <div class="card-body">
                        <p>{{img.desc}}</p>
                        <button (click)="Onclick()">{{img.button}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <img src="../../assets/Images/i1.jpg" alt=""> -->