<section class="mt-4 mxx-4" >
    <div class="title"><h1> Visakhapatnam(vizag)</h1></div><br>
    <div class="desc"><p>Visakhapatnam is a major commercial and administrative centre with road, rail, and air connections.Visakhapatnam’s natural harbour is formed by two promontories, the southern one of which is separated from the city by a small river. Improvements to the harbour have made it capable of accommodating several large ships at a time.The city is also an important shipbuilding centre; the first steamer to be built in India was launched in Visakhapatnam’s harbour in 1948. Manganese, oilseeds, and iron ore are exported at Visakhapatnam, and the city has an oil refinery, a steel plant, and industrial complexes for the production of petrochemicals, fertilizer, sugar, and jute. A medical college and medical museum are in the city. A submarine museum is at Ramakrishna Beach.</p></div> <br>
    <div class="t1"><h2>* *Famous places* *</h2></div> <br>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col" *ngFor="let l1 of famous">
            <div class="card shadow-lg" data-aos="zoom-in">
                <img [src]="l1.src" [alt]="l1.alt" height="350px" >
                <div class="card-title">
                    <h1>{{l1.title}}</h1>
                    <div class="card-body">
                        <p>{{l1.desc}}</p>
                        <button (click)="Onclick()">{{l1.button}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div><br><br>
    <div class="t1"><h2>* *Recommended Restaurants* *</h2></div> <br>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col" *ngFor="let l2 of restaurants">
            <div class="card shadow-lg" data-aos="zoom-in">
                <img [src]="l2.src" [alt]="l2.alt" height="350px" >
                <div class="card-title">
                    <h1>{{l2.title}}</h1>
                    <div class="card-body">
                        <p>{{l2.desc}}</p>
                        <button (click)="Onclick()">{{l2.button}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <img src="../../assets/Images/i1.jpg" alt=""> -->