<section>
    <div class="title">
        <h1>kailasagiri</h1>
        <h4>kailasagiri, Visakhapatnam Overview</h4> <br><br>
        <div class="sub">
            <table class="center">
                <tr>
                    <td>
                        <p>Weather : Verify <br><br>

                            Label : Must Visit<br><br>

                            Tags : Garden & Park<br><br>

                            Timings : 10 AM - 8 PM<br><br>

                            Time Required : 2-3 hrs<br><br>

                            Entry Fee : <br>
                            Entry: Rs 5<br>
                            Parking for Two Wheeler - Rs 20, <br>
                            Four Wheeler - Rs 50, <br>
                            Four Wheeler (Big) - Rs 100,<br>
                            Mini Bus- Rs 150<br>
                            Ropeway Trip (Two Way) - Rs 90, Toy Train - Rs 150<br><br></p>
                    </td>
                    <td>
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7599.824878122498!2d83.33617329147916!3d17.748764432805146!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a395b547eba6909%3A0x99546f28254d083b!2sKailasagiri%2C%20Visakhapatnam%2C%20Andhra%20Pradesh!5e0!3m2!1sen!2sin!4v1687185024592!5m2!1sen!2sin"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </td>
                </tr>
            </table>
        </div>
    </div>


    <div class="desc">
        <p>

            Located in the scenic locales of Vizag, Kailash Giri is a beautiful hilltop park perched at a height of 360
            ft. Sprawling over 100 acres of lush green land area, the park is perched on a hilltop and it offers scenic
            panoramic vistas of the surroundings and the beach below. The highlight of the place are the magnificent 40
            feet statues of Shiva and Parvati painted in white.

        </p>


        <p> Among the attractions available, the best ones include Titanic Viewpoint, Floral Spot, Gliding Point, Jungle
            Trails, Shanti Ashram, Shanku Chakra Nama and more. You can also reach here in a ropeway ride that is
            another major attraction. Besides, there is also a Toy Train available for the kids. You can also enjoy
            horse riding here other than admiring the bounteous natural beauty. Bollywood films have been shot at the
            Park for its scenic views and the beautiful location which is at a juxtaposition of the Bay of Bengal and
            Kailasagiri hills.</p>
    </div>
    <img src="../../assets/Imeges/th.jpeg" alt="">
</section>