section{
    background: url(../../assets/Imeges/back3.jpg);
    background-position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
}
section .title h1 {
    text-align: center;
    color: aliceblue;
    font-weight: 400;
}

section .title h4 {
    text-align: center;
    color: rgb(250, 249, 248);
    font-weight: 400;
}

section .sub p {
    padding-left: 30px;
    color: azure;
}

section .sub {
    display: flex;
}
section .sub .center{
    margin-left: auto;
    margin-right: auto;
    
}
section .sub table tr td p{
  text-align: left;
  font-weight: 600%;
  color: rgb(251, 245, 238);
  padding-left: 10%;
}
section .sub table tr td iframe{
    padding-left: 10%;
    padding-bottom: 10%;
}
section .desc p{
    padding-left: 10%;
    padding-right: 10%;
    text-align: justify;
    color: rgb(254, 251, 248);
}

section img{
    padding-left: 35%;
    height: 80%;
    width: 70%;
}