<app-navbar1></app-navbar1>
<div class="responsive-container-block bigContainer">
  <div class="responsive-container-block Container">
    <p class="text-blk heading">
      About Us
    </p>
    <p class="text-blk subHeading">
      Welcome to Wander Wings, your ultimate
 travel companion and guide to exploring
 the world's most mesmerizing destinations
.we understand that finding the perfect
 accommodations and delectable 
dining options are essential elements 
of any memorable travel experience.
 That's why we are dedicated to providing
comprehensive recommendations
 for hotels and restaurants that cater
 to various tastes and budgets. 
we provide an invaluable service by offering 
a curated list of doctors and medical
 professionals in various locations.
    </p>
    <div class="social-icons-container">
      <a class="social-icon">
        <img class="socialIcon image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/bb33.png">
      </a>
      <a class="social-icon">
        <img class="socialIcon image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/bb34.png">
      </a>
      <a class="social-icon">
        <img class="socialIcon image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/bb35.png">
      </a>
      <a class="social-icon">
        <img class="socialIcon image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/bb36.png">
      </a>
    </div>
  </div>
</div>
  <router-outlet></router-outlet>