<section>
    <table class="center">
        <tr>
            <td>
                <img src="../../assets/Imeges/d3.jpeg" alt="">
            </td>
        </tr>
        <tr>
            <div class="add">
                <h4> Address: </h4> 
                <p>
                10-50-80, <br>
                Waltair Main Road, <br>
                Opposite Daspalla Executive Court. <br>
                </p>
            </div>
            <td>
                <p>Apollo Healthcity Hospital <br>
                    Ram Nagar, Visakhapatnam <br>
                </p>
            </td>
        </tr>
        <tr>
            <td><h4>Other deatails:</h4>
                <p>
                    Assam Medial College, Dibrugarh <br>
    
                    1987<br>
    
                    MD - General Medicine<br>
    
                    Assam Medial College, Dibrugarh<br>
    
                    1990<br>
    
                    DM - Cardiology<br>
    
                    Christian Medical College & Hospital, Vellore<br>
    
                    1996<br>
                </p>
    
                <h4>Memberships:</h4>
                <p>Medical Council of India (MCI)</p></td>
            <td>
                <p>Mon-Fri <br>

                    7:00 pm - 8:30 pm <br>
                    Specializations <br>
                    Cardiologist <br>
                    Academic Qualifications <br>
                    MBBS <br>
                </p>
            </td>
        </tr>
    </table>
</section>