section{
    background: url(../../assets/Imeges/back6.jpg);
    background-position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
}
section .center{
   margin-left: auto;
   margin-right: auto;
}
section .center tr td img {
    padding-top: 10%;
}
section .center tr .add{
    padding-top: 10%;
}

section .center tr td{
    padding-top: 5%;
}
section .center tr td p{
    padding-left: 5%;
}