<<<<<<< HEAD
.btn {
  padding: .45rem 1.5rem .35rem;
}

.gradient-custom {
  /* fallback for old browsers */
  background: #c471f5;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgb(193, 51, 61), rgb(206, 147, 51));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgb(157, 32, 72), rgb(201, 142, 40))
}

=======
.con{
    padding-left: 1%cd ;
}
nav a{
    color:brown;
    font-family:bold;
}
nav a ul{
    color:brown;

}
>>>>>>> 74ff6a4834a157bbbb091f346f8b3b2ffb95c99d
