<section>
    <div class="title">
        <h1>Borra caves</h1>
        <h4>Borra caves, Visakhapatnam Overview</h4> <br><br>
        <div class="sub">
            <table class="center">
                <tr>
                    <td>
                        <p>Weather : Verify <br><br>

                            Label : Must Visit <br><br>

                            Tags : Cave <br><br>

                            Timings : Monday to Sunday: 10:00 AM - 5:00 PM<br><br>

                            Time Required : 2-3 Hours<br><br>

                            Entry Fee : Adults: INR 40, Children: INR 30, Camera: INR 25<br><br>

                            Photography : Allowed<br><br>

                            Discovered in : 1807<br><br>

                            Best Time to Visit : November - March<br><br></p>
                    </td>
                    <td>
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3788.4571007238887!2d83.03482827939287!3d18.280692838332683!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a3bc834502bc679%3A0x2f0b7af29a9a7137!2sBorra%20Caves!5e0!3m2!1sen!2sin!4v1687185688391!5m2!1sen!2sin"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </td>
                </tr>
            </table>
        </div>
    </div>


    <div class="desc">
        <p>

            Located on the east coast of India, the Borra Caves are situated in the Ananthagiri hills of the Araku
            Valley in Visakhapatnam district. Breath taking hilly terrain, beautiful landscape, semi-evergreen moist
            deciduous forests, and wild fauna of the Borra Caves are a visual feast.</p>

        <p>A marvellous creation of nature, the Borra caves were formed when river waters flow through a limestone area,
            and the calcium carbonate turns into calcium bicarbonate, which is easily washed out by the running water.
            The most striking feature of the caves is its exquisite variety of speleothems ranging in size.</p>

        <p>Borra Caves are deemed to be among the largest in the country and are perched at a whopping elevation of
            about 705 metres. They are basically karstic limestone structures extending to a depth of 80 m and are
            considered to be the deepest cave in India. The combination of sunlight and dark conjures amazing dancing
            shaped in the depths of the Borra Caves, which is a sight in itself. </p>

        <p>Natural skylights in the caves make way for colourful imagery that imparts them a unique enigma of their own.
            Animal lovers will find bats as well as the golden geckos hiding in the shadows of the niches. The journey
            up to the primary destination with its picturesque location and a thrilling hike is a treat in itself. Visit
            this destination and explore the unique beauty of Araku Valley in all its glory.</p>
    </div>
    <img src="../../assets/Imeges/p1.jpg" alt="">
</section>