<section>
    <div class="title">
        <h1>The Gateway Hotel Beach Road</h1>
        <h4>About The Gateway Hotel Beach Road</h4> <br><br>
        <div class="desc">
            <p>Located 2 km from Visakhapatnam City Centre, The Gateway Hotel Beach Road features a spa, outdoor pool
                and 24-hour business centre. It is situated by the sea overlooking Bay of Bengal. Free parking is
                provided. Awesome location, great service, great food. Clean. The people were very hospitable.

            </p>
        </div>
        <div class="sub">
            <table class="center">
                <tr>
                    <td>
                        <p><b>Location & Nearby Places: </b> <br>
                            Suryabagh (9.0 Km from city center) <br>

                            28-11-7 suryabagh <br><br>

                            <b> Some Nearby Attractions:</b> <br>

                            Bojjannakonda -1.6 km <br>

                            Matsyadarshini Aquarium -2.2 km<br>

                            Ramakrishna Beach -2.6 km<br>

                            Ross Hill Church - 3.2 km<br>

                            Submarine Museum -3.4 km<br>

                            Victory at Sea War Memorial - 3.9 km<br>
                        </p>
                    </td>
                    <td>
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3800.70419531208!2d83.31381877465725!3d17.711428583232095!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a39430720747c55%3A0x1b82781de177efff!2sThe%20Gateway%20Hotel%20Beach%20Road%20Visakhapatnam!5e0!3m2!1sen!2sin!4v1687189510859!5m2!1sen!2sin"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>