<section>
    <div class="title">
        <h1>Submarine Museum</h1>
        <h4>Submarine Museum, Visakhapatnam Overview</h4> <br><br>
        <div class="sub">
            <table class="center">
                <tr>
                    <td>
                        <p>Weather : Verify <br><br>

                            Label : Must Visitbr <br><br>

                            Tags : Museum <br><br>

                            Timings : 2:00 PM - 8:30 PM (Closed on Monday) <br><br>

                            Time Required : 1-2 hrs <br><br>

                            Entry Fee : Children: INR 20<br>
                            Adults: INR 40<br>
                            Still photography Camera: INR 50<br>
                            Video Camera: INR 500 <br><br></p>
                    </td>
                    <td>
                        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3800.580933636201!2d83.32752027465743!3d17.717246083227284!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a394366bf4c70eb%3A0x954398b1ff5d09f2!2sVMRDA%20INS%20Kursura%20Submarine%20Museum!5e0!3m2!1sen!2sin!4v1687183532960!5m2!1sen!2sin"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </td>
                </tr>
            </table>
        </div>
    </div>


    <div class="desc">
        <p>

            Submarine Museum is located in Visakhapatnam in the south-eastern state of India. The museum is inside an
            actual submarine, INS Kurusura, which was India's 5th submarine. The museum is situated on RK beach, near
            the War Memorial in Visakhapatnam. The beautiful scenery of the clear blue waters and golden sand on the
            beach serves as a perfect location for the Submarine Museum. It is frequently visited by enthusiasts who
            want to know more about living in submarines. The museum has artefacts, pictures and articles that share
            stories of strength, sacrifice and patriotism of the warriors. They give insights on how difficult surviving
            can be with limited space and resources hundreds of feet underwater.

        </p>

        <p>The INS Kurusura served the Indian Navy for 31 years before it was decommissioned in 2001. Post that, it was
            used a museum to spread awareness about Indian Naval Forces, the technology used and its development in
            India. It is a one of a kind project that was launched by the Eastern Naval Command. The interiors of the
            submarine have been re-arranged to allow a clear view to the visitors. It is the only Submarine Museum in
            the entire of Asia. A visit to the museum is not only a must to gain some knowledge but also to rejuvenate a
            feeling of patriotism and pride for our country and for the warriors who fought and even lost their lives
            for our freedom.</p>
        

    </div>
    <img src="../../assets/Imeges/p4.jpeg" alt="">
</section>