<section>
    <div class="title">
        <h1>Radisson Blu Resort</h1>
        <h4>About Radisson Blu Resort Visakhapatnam</h4> <br><br>
        <div class="desc">
            <p>Set close to Visakhapatnam Airport and Kailasagiri train station, Radisson Blu Resort boasts luxury
                accommodations. The property houses sophisticated ocean-view rooms, a posh ambiance, hot tubs, and
                beauty services. Take relaxing swims at the infinity pool, relish gourmet meals, receive specialized
                massages at the spa, and enjoy activities like cycling, billiards, and BBQs. With Sagar Nagar and
                Rushikonda beaches at your doorstep, lose yourself in the serenity of Visakhapatnam here.</p>
        </div>
        <div class="sub">
            <table class="center">
                <tr>
                    <td>
                        <p><b>Location & Nearby Places: </b> <br>
                            MVP Colony (18.7 Km from city center) <br>

                            Karthikavanam, Rushikonda Beach <br><br>

                            <b> Some Nearby Attractions:</b> <br>

                            Sagar Nagar Beach -1.6 km <br>

                            Rushikonda Beach -2.2 km<br>

                            Indira Gandhi Zoological Park -2.6 km<br>

                            Kambalakonda Wildlife Sanctuary - 3.2 km<br>

                            Tenneti Park -3.4 km<br>

                            Kailasagiri - 3.9 km<br>
                        </p>
                    </td>
                    <td>
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3799.430735312445!2d83.37031167504381!3d17.771442383182663!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a395bb9c94c1057%3A0x790d1a77f69f0f32!2sRadisson%20Blu%20Resort%20Visakhapatnam!5e0!3m2!1sen!2sin!4v1687186452300!5m2!1sen!2sin"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>