<section>
    <div class="title">
        <h1>Sri Raghavendra Inn</h1>
        <h4>About Sri Raghavendra Inn</h4> <br><br>
        <div class="desc">
            <p>Situated conveniently close to Visakhapatnam Airport and Railway Station, Sri Raghavendra Inn is an
                affordable accommodation. The hotel features well-maintained rooms, a homely ambiance, and helpful
                staff. With easy access to hotspots like Ramakrishna Beach, Daba Gardens, Dasapalla Hills, and
                Bojjannakonda, guests can spend a comfortable vacation close to the city’s major attractions here.</p>
        </div>
        <div class="sub">
            <table class="center">
                <tr>
                    <td>
                        <p><b>Location & Nearby Places: </b> <br>
                            Suryabagh (9.0 Km from city center) <br>

                            28-11-7 suryabagh <br><br>

                            <b> Some Nearby Attractions:</b> <br>

                            Bojjannakonda -1.6 km <br>

                            Matsyadarshini Aquarium -2.2 km<br>

                            Ramakrishna Beach -2.6 km<br>

                            Ross Hill Church - 3.2 km<br>

                            Submarine Museum -3.4 km<br>

                            Victory at Sea War Memorial - 3.9 km<br>
                        </p>
                    </td>
                    <td>
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3800.6862853395155!2d83.29672217465729!3d17.712273983231395!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a3969b1dfffbd55%3A0xf1f9338448937577!2sSri%20Raghavendra%20Inn!5e0!3m2!1sen!2sin!4v1687188840098!5m2!1sen!2sin"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>